#mobileCME {
    font-family: "HelveticaNeueLTStdRoman","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-bottom: 50px;
    color: rgb(51,51,51);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 0;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    word-wrap: break-word;
    outline: none;
    color: rgb(51,51,51);
}
.container-fluid, .main-canvas { padding:0; }
.row { margin-left: 0; margin-right: 0; }

.fixed-hdr-bar .main-canvas { padding-top: 50px; position: relative; }
.fixed-hdr-bar #nav-container { position: fixed; top: 0; width: 66.6667%; z-index: 999; }

#hdr { background-color: rgb(102,102,102); color: rgb(255,255,255); border: 0; }
#hdr .navicons {
  height: 22px;
  background: url(../images/icons/icons-nav.png) no-repeat top left;
  text-indent: -9999px;
  white-space: nowrap !important;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  padding: 0;
}
#hdr .navicons.icon-back { background-position: 0 0; width: 13px; } 
#hdr .navicons.icon-next { background-position: 0 -32px; width: 13px; display: inline-block; margin-left: 14px; } 
#hdr .navicons.icon-sound { cursor: pointer; }
#hdr .navicons.icon-sound.on { background-position: 0 -64px; width: 23px; } 
#hdr .navicons.icon-sound.none { background-position: 0 -64px; width: 23px; opacity: 0.5; } 
#hdr .navicons.icon-sound.pause { background-position: 0 -96px; width: 23px; opacity: 0.8; } 
#hdr .next-control {
    background: transparent url(../images/icons/icons-nav.png) no-repeat right -22px;
    border: 0 none;
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    font-weight: 200;
    line-height: 40px;
    margin: 0;
    padding: 0 28px 0 0;
    text-align: right;
    text-decoration: none;
    display: block;
    outline: none;
    height: 37px;
}
#hdr .icon-loading {
    display: block;
    margin: 10px auto;
}
.headline {
    background-color: rgb(230, 234, 233);
    font-size: 14px;
    padding: 7px 10px;
    margin: 0 -1em 1em -1em;
}
.headline p {
    margin: 0;
    min-width: 250px;
}

.content-wrapper { padding: 1em; }
.content-wrapper h1 {
    font-size: 20px;
    font-weight: 200;
    text-transform: none;
}

.content-wrapper .listview,
.content-wrapper .listview-freeform { 
  box-shadow: none;
  margin: 1em 0;
  padding: 0;
  border-radius: 0.6em;
  cursor: pointer;
}

.content-wrapper .listview li,
.content-wrapper .listview-freeform li {
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: normal; 
  text-shadow: none;

  display: block;
  margin: 0 0 17px 0; 
  padding: 0.7em 1em;
  overflow: visible;
  position: relative;
  text-transform: none;
}
.content-wrapper .listview li {
  text-align: center;
  border: 1px solid rgb(204,204,204); 
  border-radius: .6em; 
  color: rgb(51,51,51); 
  font-size: 1.125em;
  background-image: none;
  background-color: rgb(250,250,250);
}
.content-wrapper .listview > li p { margin: 0;  white-space: normal; font-size: 1em; font-weight: 200; }

.selection-list > li.selected {
  background-color: rgb(102,102,102);
  color: rgb(255,255,255);
}
.selection-list.qlist > li p {
    margin: 0 auto;
    width: 90%;
    position: relative;
    z-index: 999;
}
.selection-list > li .color-fill {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
}
.selection-list > li .percent-fill {
  border-top-right-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}
.selection-list > li .color-fill.color-animate {
    background-color: rgb(170,170,170);
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.selection-list > li.selectedresult {
  border: 1px solid rgb(1,178,1);
}
.selection-list > li.selectedresult p {
  font-weight: 600;
}
.selection-list > li.selectedresult .color-fill.color-animate {
    background-color: rgb(158,218,137);
}

.selection-list > li .choice-percent {
  width: 50px;
  height: 22px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;  bottom: 0;
  text-align: left;
  font-weight: 600;
  display: none; 
  padding-left: 8px;
}
.selection-list > li.selectedresult .choice-percent {
    color: rgb(0,102,26);
}
.selection-list > li .choice-percent {
    color: rgb(51,51,51);
}
/*
.instructions, .instructionslist { position: relative; min-height: 375px; list-style: none; }
.instructionslist li.instructionposition {
  position: absolute;
  width: 30%;
  text-align: center;
  text-transform: capitalize;
}
.instructionslist li.topleft { top: -48px; left: 0; }
.instructionslist li.topright { top: -48px; right: 0; }
.instructionslist li.imginstructions img { display: block; margin: 0 auto; }
.instructionslist li.bottomleft { bottom: 0; left: 0; }
.instructionslist li.bottomright { bottom: 0; right: 0; }

.instructionslist li.instructionposition .arrow {
  display: block;
    background: url(../images/icons/icon-arrows.png) no-repeat top left;
}

.instructionslist li.instructionposition .arrow.icon-arrow-down { 
  background-position: 0 0; 
  width: 9px; 
  height: 50px;
  margin: 12px auto 0 auto; 
} 
.instructionslist li.instructionposition .arrow.icon-arrow-up { 
  background-position: 0 -60px; 
  width: 9px; 
  height: 85px; 
  margin: 0 auto 8px auto; 
} */

#enlargetable img {
    display: block;
    margin: 0 auto;
}

.list-menu {
    display: block;
    list-style: none outside none;
    margin: 0;
    outline: medium none;
    padding: 2px;
}
.list-menu li {
    background: url(../images/icons/icon-bullet.jpg) no-repeat scroll 0 center transparent;
    margin-bottom: 8px;
    padding-left: 10px;
}


#main-content .case-study h3, #main-content .case-study h4 { font-weight: 600; }
#main-content .case-study h4 { margin-bottom: 0; }
#main-content .case-study p { margin-top: 0; }

.details.media { margin-bottom: 12px; }

.content-wrapper h1.qhdr { margin-bottom: 42px; }
.icon-question {
  background: url(../images/icons/icon-question.png) no-repeat top left;
  padding-left: 26px;
}
.icon-question.correct {
  color: rgb(0,178,0);
  background-position: 0 -27px; width: 22px;
}
.icon-question.incorrect {
  color: rgb(198,32,38);
  background-position: 0 6px; width: 22px;
}

#scales .resultVal { 
  text-align: center; 
  height: 20px; width: 40px; 
  display: inline-block; 
  border: 1px solid #999; 
}

.progress {
  background-color: rgb(85,85,85);
  border: 1px solid rgb(119, 119, 119)
  border-radius: 10px;
  height: 10px;
}
.progress-bar { background-color: rgb(0, 104, 56); }

#enlargetable > img {
    display: block;
    margin: 0 auto;
 }

.inner { padding:20px; }

/* ==========================================================================
      Custom Styles: Footer
   ========================================================================== */

#ftr { 
  background-color: rgb(0,104,56); 
  border: 0;
  text-align: center;
  text-shadow: none;
  font-weight: 400; 
  line-height: 45px; 
  color: rgb(255,255,255);
  font-size: 0.66em;
  border-top: 1px solid rgb(40,115,63);
  max-height: 50px;
}
#ftr a:hover, #ftr a:link,
#ftr a:active, #ftr a:visited, #ftr a:focus { 
  color: rgb(255,255,255); 
  padding: 0; margin: 0; 
  text-transform: capitalize;
  text-decoration: none;
  outline: 0; 
}
#footerModal .modal-header {
    border-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
}
/*
 * Style Sidebar
 * --------------------------------------------------
 */
#sidebar.sidebar-offcanvas { padding: 10px 0 0 0; background-color: rgb(225,229,227); }
#sidebar .sidebar-hdr { padding: 0; /*margin-left: 15px;*/ }
#sidebar .sidebar-hdr > img { display: block; margin: 0 auto; width: 300px; }

#sidebar .list-group { margin-bottom: 0; }
#sidebar .list-group-item { background: url(../images/bg-sidebar.jpg) repeat scroll 0 0 transparent; padding: 15px; }
#sidebar .list-group-item:first-child, #sidebar .list-group-item:last-child { border-radius: 0; }
#sidebar .list-group-item.selected { 
  background-color: #999; 
  border-color: #999; 
  opacity:0.42; 
  color: rgb(51,153,204);
}
#sidebar .list-group-item.selected .media * { color: rgb(51,153,204); }

#sidebar .media { background: transparent url(../images/icons/icon-sidebar.png) no-repeat center right; }
#sidebar .media .media-heading small { display: block; padding-bottom: 8px; color: rgb(51, 51, 51); }
#sidebar .media .media-heading { padding-right: 28px; font-size: 16px; }
#sidebar .media .media-object { width: 60px; }

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  /*.fixed-hdr-bar .main-canvas { padding-top: 100px; }*/
  .fixed-hdr-bar #nav-container { width: 100%; }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
  
  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus { border-radius: 0; }
  
  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  /*.row-offcanvas-right
  .sidebar-offcanvas {
    right: -320px;
  }

  
  .row-offcanvas-right.active {
    right: 320px;
  }

  .row-offcanvas-left.active {
    left: 320px;
  }*/
.row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 100%;
    /* width: 320px; 6 columns */
  }
}
@media (max-width: 480px) {
  #ftr footer > div { padding-right: 5px; padding-left: 5px; } 
  #hdr .next-control {
    padding: 0;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  }  
}

