// Copy this file to config.js and modify the tokens below to fit your environment
// paths.server should be the root url of the application
// paths.quizapi should be the root url of where the quiz adapter is
window.config = {
  path:{
    "server":"[*MOBILECME_SERVER_URL*]", // ex. http://localhost:8888/mobilecme
    "quizapi":"[*MOBILECME_QUIZ_URL*]" // ex. http://dev.pro-cme.com
  }
};